@font-face {
    font-family: "Pixeboy";
    src: url("./font/pixeboy-font/Pixeboy-z8XGD.ttf") format("truetype");
}
@font-face {
    font-family: "WayfarersToyBoxRegular";
    src: url("./font/wayfarers-toy-box-font/WayfarersToyBoxRegular-gxxER.ttf") format("truetype");
}
 
